version: "3"
services:
  app:
    build: .
    volumes:
      - .:/var/www/html
    labels:
      - "akmb.service"
      - "com.dnsdock.alias=akmb.local"
    depends_on:
      - mysql
      - redis
    ports:
      - 8888:80
    networks:
      default:
        aliases:
          - akmb.local

  redis:
    image: redis:latest
    labels:
      - "akmb.service"
      - "com.dnsdock.alias=akmb.redis.local"
    networks:
      default:
        aliases:
          - akbm.redis.local

  mysql:
    image: mysql:8.0.11
    privileged: true
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=akmb_dev
    labels:
      - "akmb.service"
      - "com.dnsdock.alias=akmb.mysql.local"
    networks:
      default:
        aliases:
          - akmb.mysql.local
